.wrapper {
  display: flex;
  justify-content: center;
}

.PostsWrapper {
  max-width: 600px;
  flex-direction: column;
  align-items: center;
    justify-content: center;
  flex-wrap: nowrap;
}

.textarea{
    width: 500px;
    border-radius: .25rem;
}

