.post {
  width: 550px;
  margin: 10px;
}
.PostHeader {
  height: 65px;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.profile {
  height: 60px;
  border-radius: 50%;
}
.autor {
  margin-left: 5px;
}
.feedback {
  margin: 5px;
  width: 300px;
  height: 20px;
  div {
    fill: #1f1c1c;
    :hover {
      fill: #ff0303;
    }
  }
}
.likeBtn {
  width: 20px;
}
.commentBtn {
  width: 20px;
}
svg {
  display: inline;
}
.likeBtn .commentBtn {
  display: inline;
  justify-content: space-between;
}
